extends _layout_

block content
    article.logo_panel
        md-grid-list(md-cols="5" md-row-height="60px")
            md-grid-tile(md-colspan="2")
            md-grid-tile(md-colspan="1")
                img(alt="logo" src="/src/img/logo.png").logo_img
            md-grid-tile(md-colspan="2")
    article.top_panel
        md-grid-list(md-cols="6" md-row-height="50px")
            md-grid-tile(md-colspan="1")
                - if(user_status)
                    a(href='/manage')
                        md-button(class="md-raised md-primary md-but-menu") Manage
            md-grid-tile(md-colspan="1")
                a(href='/')
                    md-button(class="md-raised md-primary md-but-menu") Index
            md-grid-tile(md-colspan="2")
                h3 Client logo
            md-grid-tile(md-colspan="1")
            md-grid-tile(md-colspan="1")
                a(href='/exit')
                    md-button(class="md-raised md-primary md-but-menu") Logout

    article.main
        h1 Gallery
        md-grid-list(md-cols="2" md-row-height="300px")
            - each image, i in images
                md-grid-tile(md-colspan="1")
                    md-card(md-theme="default", md-theme-watch='' class="gallery_card")
                        md-card-title
                            md-card-title-text
                                - var age = new Date().getFullYear() - image.dob.getFullYear()
                                - var gender = image.gender ? 'Female' : 'Male'
                                span.md-headline=image.name
                                span.md-subhead!='<b>Gender:</b> ' + gender
                                span.md-subhead!='<b>Nationality:</b> ' + image.nationality
                                span.md-subhead!='<b>D. O. B.:</b> ' + image.dob.toString().slice(0, -23)
                                span.md-subhead!='<b>Age:</b> ' + age
                                span.md-subhead!='<b>Image date:</b> ' + image.createdAt.toString().slice(0, -14)
                            md-card-title-media
                                .md-media-lg.card-media
                                    a(href='/image/' + image.id)
                                        img(src='/image/' + image.id alt='gallery_figure' class="gallery_img")
