extends _layout_

block scripts
    script(src="/src/result_render.js")

block content
    section.content
        article.result_canvas
            h1 Num: #{number}
            canvas(width=first.cols height=first.rows data-elem=first.data).first_canv
            canvas(width=second.cols height=second.rows data-elem=second.data).second_canv